<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jksoftcn.pic2alioss</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>374DA117-E9BA-4FAB-8A9B-CE38166396E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D8880C7-2606-4FB1-B39A-0EF28B9B5716</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7AFBDD67-08A6-4D99-825F-A9C18304764D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>510A60B3-9D3E-4946-82E1-F7AE9F6BFE33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45E973BD-C62F-4B5E-9DBC-B614F03D7CF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>763FA955-5445-444B-BB9C-E391E454D019</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>159A291E-3339-491E-8D3F-79091BE0319B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC593993-A801-4BE2-A092-AF7C5740F87C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>374DA117-E9BA-4FAB-8A9B-CE38166396E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DE1D289-EB5D-41A0-9F8F-A5E1852DB9D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>763FA955-5445-444B-BB9C-E391E454D019</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45E973BD-C62F-4B5E-9DBC-B614F03D7CF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AFBDD67-08A6-4D99-825F-A9C18304764D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jiang Fengbing</string>
	<key>description</key>
	<string>上传图片到阿里云OSS</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pic2AliOSS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>可以使用uposs命令上传图片啦!</string>
				<key>title</key>
				<string>uposs配置成功</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>159A291E-3339-491E-8D3F-79091BE0319B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

osascript askconfig.scpt|/usr/bin/python3 saveconfig.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>763FA955-5445-444B-BB9C-E391E454D019</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alioss-config</string>
				<key>subtext</key>
				<string>在上传图片前需要先设置好阿里云OSS的Bucket!</string>
				<key>text</key>
				<string>阿里云图床配置</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2DE1D289-EB5D-41A0-9F8F-A5E1852DB9D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

osascript getpath.scpt|/usr/bin/python3 upload.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>374DA117-E9BA-4FAB-8A9B-CE38166396E9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>uposs</string>
				<key>subtext</key>
				<string>将Finder中选中的图片上传到又拍云，URL放在剪贴板中。</string>
				<key>text</key>
				<string>阿里云上传图片</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC593993-A801-4BE2-A092-AF7C5740F87C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>阿里云上传</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2D8880C7-2606-4FB1-B39A-0EF28B9B5716</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
  if {q starts with &quot;http&quot;} then
    set the clipboard to q
  end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7AFBDD67-08A6-4D99-825F-A9C18304764D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>uposs-url</string>
				<key>subtext</key>
				<string>将最后一次上传的图片URL保存到剪贴板</string>
				<key>text</key>
				<string>阿里云图床URL</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>510A60B3-9D3E-4946-82E1-F7AE9F6BFE33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

/usr/bin/python3 geturl.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45E973BD-C62F-4B5E-9DBC-B614F03D7CF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>阿里云OSS图片上传</string>
	<key>uidata</key>
	<dict>
		<key>159A291E-3339-491E-8D3F-79091BE0319B</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>2D8880C7-2606-4FB1-B39A-0EF28B9B5716</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>374DA117-E9BA-4FAB-8A9B-CE38166396E9</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>510A60B3-9D3E-4946-82E1-F7AE9F6BFE33</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>763FA955-5445-444B-BB9C-E391E454D019</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>7AFBDD67-08A6-4D99-825F-A9C18304764D</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>CC593993-A801-4BE2-A092-AF7C5740F87C</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>2DE1D289-EB5D-41A0-9F8F-A5E1852DB9D4</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>45E973BD-C62F-4B5E-9DBC-B614F03D7CF2</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>http://jksoftcn.com</string>
</dict>
</plist>
